
/*-----------------------------------------------------------------*/
/*                      GLOBAL STYLES                              */
/*-----------------------------------------------------------------*/
body {
  color: #1a1a1a;
  background-color: #5352d4;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  padding-left: 15px;
}
li {
  padding: 0 0 10px;
}
/*
/*-----------------------------------------------------------------*/
/*                      LAYOUT                                     */
/*-----------------------------------------------------------------*/
.wrapper {
  width: 1000px;
  margin: 0 auto;
}


@media only screen and (max-width: 991px) {
  .wrapper {
      width: 100%;
  }
}